@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= GLOBAL STYLES ================= */

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

/* ================= BRAND COLOR ================= */
:root {
  --brand-primary: #5044e5;
}

/* ================= GLOBAL APP LOADER ================= */

.loader {
  position: absolute;
  inset: 0;
}

.jimu-primary-loading,
.jimu-primary-loading::before,
.jimu-primary-loading::after {
  background-color: var(--brand-primary);
  animation: app-loading 0.8s infinite ease-in-out;
  width: 14px;
  height: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
}

.jimu-primary-loading {
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: 0.16s;
}

.jimu-primary-loading::before {
  content: "";
  left: -20px;
  opacity: 0.85;
}

.jimu-primary-loading::after {
  content: "";
  left: 20px;
  animation-delay: 0.32s;
  opacity: 0.85;
}

@keyframes app-loading {
  0%,
  80%,
  100% {
    opacity: 0.7;
    box-shadow: 0 0 transparent;
    height: 32px;
  }
  40% {
    opacity: 1;
    box-shadow: 0 -8px rgba(80, 68, 229, 0.6);
    height: 40px;
  }
}
@layer components {
  .btn-primary {
    @apply px-4 py-2 rounded-lg font-semibold text-white transition duration-300 hover:opacity-90;
    background-color: var(--brand-primary);
  }
}
